<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <header>
        <h1>About Me</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/socials">Socials</a></li>
                <li><a href="/experience">Experience</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Personal Information</h2>
            <p>I am a graduating senior at the University of Iowa majoring in Finance, Business Analyics and RMI. I will be moving to Denver after graduation to start full time as a consultant at Plante Moran.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>
</body>
</html>