<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D113J544YK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-D113J544YK');
    </script>
</head>
<body>
    <header>
        <h1>My Experience</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/socials">Socials</a></li>
                <li><a href="/experience">Experience</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Professional Experience</h2>
            <!-- Add details of your work experience here -->
            <h4>Link to my resume for reference:</h4> <a href="static/Kassandra-Resume.pdf" target="_blank">Resume</a>
            <ul>
                    <h3>Risk and Accounting Advisory Service Consultant Intern</h3>
                    <p>Plante Moran | Denver, CO | June - August 2024</p>
                    <p>● Identified potential risks in client financial processes and generated/implemented solution ideas
                        <br>● Tested SOX-404 and ITGC control processes for clients, update and generate work papers
                        <br>● Performed technical accounting by forecasting/updating 13-week and opening balance sheets for clients</p>
                    <h3>Associate Account Executive</h3>
                    <p>MidAmerican Energy Services | Urbandale, IA | May - August 2023</p>
                    <p>● Implemented and piloted a new sale process at MES based on the seven touches principal
                        <br>● In charge of researching leads, running sales flows, and organizing process
                        <br>● Adjusted process based on analytical results and experience to increase productivity of the principal</p>

            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 My Portfolio </p>
        <p>Tagging number: G-D113J544YK</p>
        <a href="policy/privacy-policy.html">Privacy Policy</a> |
        <a href="policy/terms-and-conditions.html">Terms and Conditions</a> |
        <a href="policy/cookie-popup.html">Cookie Policy</a>
    </footer>
</body>
</html>