<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kassie Pietsch Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D113J544YK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-D113J544YK');
    </script>
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/favicon/android-chrome-192x192.png"> 
    <link rel="icon" type="image/png" sizes="512x512" href="static/images/favicon/android-chrome-512x512.png"> 
    <meta name="description" content="My portfolio is to share more information with you about my professional experiences and contact information">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- open graph meta tags-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kassandra Pietsch Portfolio">
    <meta property="og:description" content="My portfolio is to share more information about my professional experiences and contact information">
    <meta property="og:image" content="https://kassiepietsch.me/static/images/Kassie.jpeg"> <!-- Replace with URL to your image -->
    <meta property="og:url" content="https://kassiepietsch.me">
</head>
<body>
    <header>
        <h1>KASSANDRA PIETSCH</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/socials">Socials</a></li>
                <li><a href="/experience">Experience</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>WELCOME TO MY PORTFOLIO!</h2>
            <br>
            <h3>Graduating Senior at the University of Iowa studying Finance, Business Analytics & RMI.</h3>
            <h3>Incoming RAAS Consultant at Plante Moran in the Denver Tech Center.</h3>
            <br>
            <div style="text-align: center;">
                <img src="{{ url_for('static', filename='images/Kassie.jpeg') }}" alt="Welcome to my page!" width="300" style="display: block; margin: 0 auto;">
            </div>
            <!-- <div style="text-align: center;">
            <img src="static/images/Kassie.jpeg" alt="Welcome to my page!" width="300" style="display: inline-block">
            </div> -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
        <p>Tagging number: G-D113J544YK</p>
        <a href="{{ url_for('static', filename='policy/private-policy.html') }}">Privacy Policy</a> |
        <a href="{{ url_for('static', filename='policy/terms-and-conditions.html') }}">Terms and Conditions</a> |
        <a href="{{ url_for('static', filename='policy/cookie-popup.html') }}">Cookie Policy</a>
    </footer>
</body>
</html>